main {
    min-height: 100vh;
    background: linear-gradient(black, rgba(0, 0, 0, 0.507)),
                url(../img/background-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

main h1 {
    color: #fff;
    font-size: clamp(1em, 5vw, 2em);
}

.dashboard-menu {  
    margin-top: 20px;
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.div-menu-part {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #fff;
    color: #fff;
    transition: 0.5s all linear;
}
.div-menu-images {
    width: 80%;
    height: 100%;
    cursor: pointer;
}
.part-cars span, .part-rimes span { 
    width: 20%;
    height: 100%;
    writing-mode: vertical-rl;
    text-orientation: upright;
    cursor: pointer;
    font-weight: bold;
    font-size: clamp(0.9em, 1.8vw, 1.1em);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.part-tires span {
    width: 20%;
    height: 100%;
    writing-mode: vertical-lr;
    text-orientation: upright;
    cursor: pointer;
    font-weight: bold;
    font-size: clamp(0.9em, 1.8vw, 1.1em);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.part-tires-wheels span {
    width: 20%;
    height: 100%;
    writing-mode: vertical-lr;
    text-orientation: upright;
    cursor: pointer;
    font-weight: bold;
    font-size: clamp(0.9em, 1.8vw, 1em);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-menu-part:hover {
    color: #b30606;
    border-color: #b30606;
}
a {
    text-decoration: none;
}