main {
    min-height: 100vh;
    background: linear-gradient(black, rgba(0, 0, 0, 0.507)),
                url(../img/background-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

main h1 {
    color: #fff;
    margin-top: 80px;
}

.cars-menu {  
    margin-top: 20px;
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.cars-menu a {
    width: 100%;
    text-decoration: none;
    color: black;
}

.car-advertisement {
    width: 100%;
    height: 270px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 5px solid #fff;
    padding: 5px;
    
}

.car-picture {
    width: 30%;
    height: 100%;
}

.basic-car-info {
    width: 70%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.car-brand {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.car-brand h2 {
    font-weight: bold;
}

.car-description h2 {
    color: #b30606;
}

.car {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.car :nth-child(1){
    font-weight: bold;
    font-size: 24px;
}
.car :nth-child(2){
    font-weight: bold;
    font-size: 20px;
    color: #b30606;
}

.car-infos {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

/* .sub-heading {
    font-weight: bold;
} */

.car-price {
    background-color: #b30606;
    width: 100%;
}

.car-price  h2 {
    color: #fff;
    font-weight: bolder;
    font-size: 36px;
    text-align: center;
}

