main {
    min-height: 100vh;
    background: linear-gradient(black, rgba(0, 0, 0, 0.507)),
                url(../img/background-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

main h1 {
    color: #fff;
    font-size: clamp(1em, 5vw, 2em);
}

.dashboard-menu {  
    margin-top: 20px;
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}
.menu-part {
    width: 30%;
    height: 250px;
}

.div-menu-part {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #fff;
    color: #fff;
    animation: gradualVisibility 1.2s linear;
    transition: .4s all linear;
}
.div-menu-images {
    width: 80%;
    height: 100%;
    cursor: pointer;
}
.advert-text { 
    width: 15%;
    height: 100%;
    text-orientation: upright;
    writing-mode: vertical-rl;
    cursor: pointer;
    font-weight: bold;
    font-size: clamp(1em, 2vw, 1em);
    text-align: center;
}

.tires-wheels { 
        
    text-orientation: upright;
    writing-mode: vertical-lr;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.div-menu-part:hover {
    color: #b30606;
    scale: 1.05;
}
a {
    text-decoration: none;
}


@keyframes gradualVisibility {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }


    100% {
        opacity: 1;
    }

}

