/* fonts */
@font-face {
    font-family: "Kodchasan";
    font-weight: 400;
    src: url('./import/fonts/kodchasan-regular-webfont.woff2') format('woff2'),
         url('./import/fonts/kodchasan-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: "Kodchasan";
    font-weight: 300;
    src: url('./import/fonts/kodchasan-light-webfont.woff2') format('woff2'),
         url('./import/fonts/kodchasan-light-webfont.woff') format('woff');
}

@font-face {
    font-family: "Kodchasan";
    font-weight: 700;
    src: url('./import/fonts/kodchasan-bold-webfont.woff2') format('woff2'),
         url('./import/fonts/kodchasan-bold-webfont.woff') format('woff');
}

@font-face {
    font-family: "Kodchasan";
    font-weight: 500;
    src: url('./import/fonts/kodchasan-medium-webfont.woff2') format('woff2'),
         url('./import/fonts/kodchasan-medium-webfont.woff') format('woff');
}

/* fonts */




/* symbols-icons */

/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url('./import/icons/symbol-icon-outlined.woff2') format('woff2');
  }
  
.material-symbols-outlined {
font-family: 'Material Symbols Outlined';
font-weight: normal;
font-style: normal;
font-size: 24px;
line-height: 1;
letter-spacing: normal;
text-transform: none;
display: inline-block;
white-space: nowrap;
word-wrap: normal;
direction: ltr;
font-feature-settings: 'liga';
-webkit-font-feature-settings: 'liga';
-webkit-font-smoothing: antialiased;
}

/* symbols-icons */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kodchasan", sans-serif;
    font-weight: 400;
    font-style: normal;
}

input:focus {
    outline: none;
}

/* loader animation */

.loader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 99999;
}

.loader-animation {
    width: 50px;
    height: 50px;
    border: 10px solid #a09696;
    border-top: 10px solid #b30606;
    border-radius: 50%;
    animation: rounded 1s ease-out infinite;
}


@keyframes rounded {
    0% {
        transform: rotate(0deg);
    }


    100% {
        transform: rotate(360deg);
    }

}
/* loader animation */

/* cookies */

.cookies-content {
    justify-content: flex-start;
    background-color: #b30606;
}

.cookies {
    width: 100vw;
    height: 100vh;
    bottom: 10px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: transparent;
    position: fixed;
    z-index: 10000;
    color: #fff;
    text-align: center;
}

.cookies-bar {
    width: 100%;
    max-width: 400px;
    min-width: 200px;
    min-height: 150px;
    background: linear-gradient(#b30606, #7e4343);;
    border: 2px solid #fff;
    z-index: 999;
    border-radius: 10px;
    padding: 10px;
}

.cookies-bar > p, .cookies-bar p > a {
    font-size: 12px;
    color: #fff;
}

.cookies-btns {
    margin-top: 5px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cook-btn {
    width: 120px;
    padding: 4px 8px;
    color: #b30606;
    font-weight: bold;
    cursor: pointer;
}


@media (max-width: 640px) {

    
    
}
/* cookies */
