main {
    min-height: 100vh;
    background: url(../img/background-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 50px;
}

.registration h1 {
    color: #fff;
    border-bottom: 5px #fff solid;
    width: 80%;
    text-align: center;
    font-size: clamp(1.2em, 7vw, 2em);
}
.registration h2 {
    color: #fff;
    text-align: center;
    font-size: clamp(1.2em, 7vw, 2em);
    margin-top: 10px;
}

.registration {  
    width: 100%;
    max-width: 680px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 30px;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid #fff;
    box-shadow: #b30606 5px;
    padding: 15px;
}

.main-car-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10px 0px 10px;
    border: 2px solid #fff;
    margin-top: 10px;
}

.basic-tire-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    
}
.basic-tire-info:nth-child(10), 
.basic-tire-info:nth-child(11){
    width: 50%;
}
.basic-wheel-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    
}
.basic-wheel-info:nth-child(7), 
.basic-wheel-info:nth-child(8){
    width: 50%;
}

.basic-car-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.basic-car-info:nth-child(2) {
    width: 100%;
}

.basic-car-info:nth-child(3) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
textarea {
    background: #fff;
    font-size: 18px;
    color: #000;
    border: 3px #fff solid;
    padding: 10px;
    margin: 0 10px 15px 10px;
    width: 100%;
}

input[type="number"], input[type="text"] {
    outline: none;
    width: 100%;
    background: #fff;
    border: 3px #fff solid;
    font-size: clamp(0.9em, 5vw, 1.17em);
    text-align: center;
    color: #000;
    padding: 6px 8px;
    margin: 0 10px 15px 10px;
    /* text-transform: capitalize; */
}

#image-name {
    display: none;
}

.basic-tire-info span, .basic-wheel-info span, .basic-car-info span {
    color: #fff;
    font-size: clamp(0.9em, 5vw, 1.17em);
}

select {
    padding: 6px 25px;
    margin: 0 10px 15px 10px;
    font-size: clamp(0.9em, 5vw, 1.17em);
    width: 100%;
    cursor: pointer;
    background-color: #fff;
}

option {
    padding: 6px 8px;
    cursor: pointer;
}

select:hover, option:hover {
    cursor: pointer;
}

.basic-tire-info label, .basic-wheel-info label, .basic-car-info label {
    color: #fff;
    font-size: clamp(0.9em, 5vw, 1.17em);
    margin-top: 15px;
}

#choose-img-text {
    padding: 8px 15px;
    cursor: pointer;
    color: #fff;
    border: 5px solid #b30606;
    background-color: #b30606;
    font-weight: bold;
    transition: 0.4s all linear;
}

#choose-img-text:hover {
    cursor: pointer;
    color: #b30606;
    border: 5px solid #b30606;
    background-color: #fff;
}

#picture-titel {
    margin: 20px 0;
    font-size: 20px;
}

input[type="submit"]{
    margin-top: 18px;
    border: 5px solid #b30606;
    background-color: #b30606;
    width: 100%;
    padding: 8px 12px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s linear;
    color: #fff;
}

input[type="submit"]:hover {
    color: #b30606;
    border: 5px solid #b30606;
    background-color: #fff;
    font-weight: bold;
    transition: 0.4s all linear;
}

