main {
    min-height: 100vh;
    background: url(../img/background-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

/* css for all tire advertisement */

.advertisement-tire {  
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background: rgba(0, 0, 0, 0.774);
    border: 5px solid #fff;
    position: relative;
}

/* css for all tire advertisement */

/* heading part */

.heading {
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* heading image */
.heading img {
    width: 50%;
    max-height: 420px;
    border: 1px solid #fff;
}
/* heading image */

/* label on image */
.advert-label {
    left: 15px;
    top: 15px;
    position: absolute;
    width: 160px;
    background-color: #b30606;
    border-radius: 50%;
    padding: 60px 0px;
    color: #fff;
    font-size: 22px;
    text-align: center;
    transform: rotate(-45deg);
    font-weight: bold;
}
/* label on image */



/* main tire info */
.main-tire-info {
    width: 50%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
/* main tire info */

/* tire brand and model */
.tire-brand {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.tire-brand h2 {
    font-weight: bold;
    font-size: 32px;
}
.tire-brand h3 {
    font-weight: bold;
    font-size: 28px;
}
/* tire brand and model */

/* tire description */
.tire-description h2 {
    color: #fff;
    text-align: center;
}
/* tire description */

/* basic tire info */
.tire-infos {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.tire {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
}

.tire :nth-child(1){
    font-weight: bold;
    font-size: 26px;
}
.tire :nth-child(2){
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}
/* basic tire info */

/* heading part */


/* administration */
.management-part {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.slider-gallery {
    width: 40%;
    border: 1px solid #fff;
}
.administration  {
    width: 60%;
    gap: 20px;
    color: #fff;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #fff;
}

.administration-part {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    gap: 20px;
}

/* button administration */

.btn {
    padding: 8px 15px;
    cursor: pointer;
    color: #fff;
    border: 5px solid #b30606;
    background-color: #b30606;
    font-weight: bold;
    transition: 0.4s all linear;
    text-decoration: none;
}
.btn:hover {
    cursor: pointer;
    color: #b30606;
    border: 5px solid #b30606;
    background-color: #fff;
}

.btn-green{
    padding: 8px 15px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    transition: 0.4s all linear;
    text-decoration: none;
    background-color: green;
    border: 5px solid green;
}
.btn-green:hover {
    cursor: pointer;
    color: green;
    border: 5px solid green;
    background-color: #fff;
}
/* button administration */

/* administration */


/* Other equipments and vehicle condition */

/* settings for sequence */
.part {
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    
}

.part :nth-child(2) {
    margin-top: 20px;
}
.part h2{
    text-align: center;
    border-bottom: 3px solid #fff;
    padding-bottom: 10px;
}
/* settings for sequence */

/* settings inside in sequence */
.box {
    font-size: 25px;
    width: 100%;
}
/* settings inside in sequence */

/* tire price */
.tire-price {
    background-color: #b30606;
}
/* tire price */


/* Other equipments and vehicle condition */













