@media (max-width: 1090px) {

    .container {
        width: 100%;
    }

    iframe {
        width: 100%;
        min-height: 450px;
    }
    
}
@media (max-width: 600px) {

    iframe {
        width: 100%;
        min-height: 250px;
    }
    .company-info {
        text-align: right;
    }
    .address {
        text-align: right;
    }

    #main-contact-form {
        width: 100%; 
    }
    .contact-info {
        width: 100%;
    }
    .person {
        width: 100%; 
    }
    .person input {
        width: 100%;
    }
    .opening-time, .weekend-time {
        flex-wrap: wrap;
    }
    .days, .weekend {
        width: 100%;
    }

    .selected-radio {
        position: absolute;
        transform: scale(1.5); 
        top: 110%;
        left: 50%;
    }

    .selected-radio2 {
        position: absolute;
        transform: scale(1.5); 
        top: 110%;
        left: 50%;
    }
    
      
}


