@media (max-width: 880px) {

    main h1 {
        margin-top: 5px; 
    }

    .car-advertisement {
        height: auto;
    }

    .car-picture {
        width: 100%;
        min-height: 350px;
        max-height: 420px;
    }


    .basic-car-info {
        width: 100%;
    }
    
    
}