@media (max-width: 660px) {

    #choose-img-text, #btn-gall, #btn-title, .add-image > p {
        width: 100%;
        height: 50px;
    }

    .add-part, .deleted-part, .sort-part {
        width: 100%;

        border: 3px solid #fff;
        margin-top: 25px;
    }
    .images-part {
        width: 100%;
    }
    .div-menu-images {
        width: 100%;
        height: 50%;
    }
}


