@media (max-width: 1170px) {

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .menu-part {
        width: 28%;
    }
    .menu-part:nth-child(1), 
    .menu-part:nth-child(2) {
        width: 44.5%;
    }
    .div-menu-part {
        height: 250px;
        font-weight: bold;
    }

    .part-servis {
        animation: fromLeft 2s linear;
    }
    
}


@media (max-width: 640px) {

    .menu-part {
        width: 80%;
    }

    .menu-part:nth-child(1), 
    .menu-part:nth-child(2) {
        width: 80%;
    }

    .div-menu-part {
        height: 240px;
        font-weight: bold;
    }

    .part-cars {
        animation: fromLeftmobile1 1.2s linear;
    }
    .part-tires {
        animation: fromLeftmobile2 1.6s linear;
    }
    .part-servis {
        animation: fromLeftmobile3 1.8s linear;
    }
    .part-rimes {
        animation: fromLeftmobile4 2.1s linear;
    }
    .part-tires-wheels {
        animation: fromLeftmobile5 2.4s linear;
    }

    .comp-logo {
        width: 70px;
        height: 70px;
        top: 10px; 
        right: 5px;
    }
    
}
@media (max-width: 350px) {

    .comp-logo {
        width: 50px;
        height: 50px;
        top: 10px; 
        right: 5px;
    }
    
}

@keyframes fromLeftmobile1 {
    0% {
        transform: translateX(-400px);
    }


    100% {
        transform: translateX(0px);
    }

}
@keyframes fromLeftmobile2 {
    0% {
        transform: translateX(-600px);
    }


    100% {
        transform: translateX(0px);
    }

}
@keyframes fromLeftmobile3 {
    0% {
        transform: translateX(-800px);
    }


    100% {
        transform: translateX(0px);
    }

}
@keyframes fromLeftmobile4 {
    0% {
        transform: translateX(-1000px);
    }


    100% {
        transform: translateX(0px);
    }

}
@keyframes fromLeftmobile5 {
    0% {
        transform: translateX(-1200px);
    }


    100% {
        transform: translateX(0px);
    }

}


